.chat-container{
  min-height:100px;
}

.chat-message-time-container{
  font-weight: bold;
  margin-bottom: 10px;
}

.chat-text-container{
  max-height: 150px;
  overflow: auto;
}

.chat-image,.chat-video{
  max-height: 240px;
}

.chat-image-container{
  cursor: pointer;
}

.chat-modal-image{
  max-width: 100%;
}

.chat-form-link-container{
  width:100px;
  height:100px;
  border-radius: 5px;
  position:fixed;
  bottom:20px;
  right:20px;
  text-align: center;
  font-size: 16px;
  color:#fff;
  padding-top: 25px;
  background: linear-gradient(0deg,#224c84,#265491);
}

.chat-form-link-container:hover,
.chat-form-link-container:visited,
.chat-form-link-container:active,
.chat-form-link-container:link{
  color:#fff;
  text-decoration: none;
}
