<%- include ../public/header %>
<div class="container">
  <div class="chat-userName-container">
    tingxu的私信
  </div>
</div>
<div class="container main-container">
  <div class="list-container js-list-container chat-container">
    <div class="row">
      <div class="chat-message-time-container">
        2017年1月13日21:21
      </div>
      <div class="chat-text-container">
        点击出警按钮弹出该弹窗，点击确认指派，状态变更；点击取消关闭弹窗 案件描述及整
        个弹窗高度给的都是最大高度，这里最好不要写成固定的高度，不然文字少的时候可能太
        丑 地图居中显示报案人位置 派出所选择默认文案：“请选择出警派出所”  ，颜色#999999
        ，点击上拉菜单选择派出所， ，选择后显示派出所名称，颜色变为#1a1a1a 未选择派出所时，
        民警选择不可选择，文案“请选择民警”，颜色#CCCCCC，派出所选择后，“请选择民警”颜色变为#999999
        ，点击上拉菜单选择民警
      </div>
    </div>
  </div>
  <div class="list-container js-list-container chat-container">
    <div class="row">
      <div class="chat-message-time-container">
        2017年1月13日21:21
      </div>
      <div class="chat-image-container js-show-image-modal">
        <img src="http://115.159.202.104:3000/static/images/chat/4PiGOHR9i5iUTEZlOM5Z5gIhhz57guQbqS1PRifX2ERmGOcX0EFi8HwMBi8JLW7J.jpg" alt="" class="chat-image">
      </div>
      <div class="hidden-info-container">
        <div class="js-image-file-name">4PiGOHR9i5iUTEZlOM5Z5gIhhz57guQbqS1PRifX2ERmGOcX0EFi8HwMBi8JLW7J.jpg</div>
      </div>
    </div>
  </div>
  <div class="list-container js-list-container chat-container">
    <div class="row">
      <div class="chat-message-time-container">
        2017年1月13日21:21
      </div>
      <div class="chat-video-container">
        <video controls src="http://115.159.202.104:3000/static/video/chat/hvNWdVYslaBIapFepqieTniUkM66FBCZ40ISd1O3kYO5lLhf-PLSoMPJJ8TVlYbh.mp4" class="chat-video">

        </video>
      </div>
    </div>
  </div>
  <div class="list-container js-list-container chat-container">
    <div class="row">
      <div class="chat-message-time-container">
        2017年1月13日21:21
      </div>
      <div>
        <audio controls src="http://115.159.202.104:3000/static/sound/chat/LKQG9gHJ2fVZ_fRtc60j8hhboOlWV0AFuHpu33NvVCpldyttI_Xwp-gVPVG67a_d.mp3">

        </audio>
      </div>
    </div>
  </div>


  <div class="list-container js-list-container chat-container">
    <div class="row">
      <div class="chat-message-time-container">
        2017年1月13日21:21
      </div>
      <div class="chat-image-container js-show-image-modal">
        <img src="http://115.159.202.104:3000/static/images/chat/jpI0-gH3myEpYgN-yVuotJlNVx_mOC9T-aLmvF5O_xv48x4NLfQIugnekt68O6Uh.jpg" alt="" class="chat-image">
      </div>
      <div class="hidden-info-container">
        <div class="js-image-file-name">jpI0-gH3myEpYgN-yVuotJlNVx_mOC9T-aLmvF5O_xv48x4NLfQIugnekt68O6Uh.jpg</div>
      </div>
    </div>
  </div>
</div>

<%- include ../private/chat-image-modal %>
<%- include ../public/components/rights %>
<%- include ../public/footer %>
