<%- include ../public/header %>

<div class="container main-container">
  <div class="list-container">
    <div>
      <div class="list-title">
        盗窃案
      </div>
      <div class="list-number">
        00001
      </div>
    </div>

  </div>
</div>

<%- include ../public/components/rights %>
<%- include ../public/footer %>
