<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>引擎使用的是ejs模板，语法和html非常相近，如果乐意你也可以用html</p>
  </body>
</html>
