<%- include ./public/header %>

<div class="container main-container" id="app">
  <div class="list-container js-list-container" v-for="list in lists">
    <div class="row">
      <div class="col-sm-9 col-xs-8">
        <div class="list-info-row">
          <div class="list-title">
            <case-type v-bind:type="list.caseType"></case-type>
          </div>
          <div class="list-number">
            {{ list._id }}
          </div>
        </div>
        <div class="list-info-row row">
          <div class="list-first-info col-xs-12 col-sm-6">
            <span class="list-info-item">报警人：</span><span class="list-info-value">{{ list.userName }}</span>
          </div>
          <div class="list-second-info col-xs-12 col-sm-6">
            <span class="list-info-item">身份证：</span><span class="list-info-value">{{ list.idCard }}</span>
          </div>
        </div>
        <div class="list-info-row">
          <div class="list-first-info">
            <span class="list-info-item">联系电话：</span><span class="list-info-value">{{ list.phoneNum }}</span>
          </div>
        </div>
        <div class="list-case-info">
          {{ list.caseInfo }}
        </div>
      </div>
      <div class="col-sm-3 col-xs-4 list-police-info-container">
        <div class="clearfix">
          <div class="list-status list-status-onway">
            <list-status :status="list.listStatus"></list-status>
          </div>
        </div>
        <div class="clearfix">
          <div class="list-police-info-first">
            <span class="list-info-item">出警民警：</span>
            <span class="list-info-value"><police-name :realnames="realNames" :policename="list.policeName"></span>
          </div>
        </div>
        <div class="clearfix">
          <div class="list-police-info">
            <span class="list-info-item">编号：</span>
            <span class="list-info-value"><police-id :policename="list.policeName"></police-id></span>
          </div>
        </div>
        <div class="clearfix">
          <div class="list-police-info">
            <span class="list-info-item">总用时：</span>
            <span class="list-info-value">
              <template v-if="list.listStatus===5">
                <live-use-time :sendtime="list.sendTime" :increasenumber="increaseNumber"></live-use-time>
              </template>
              <template v-else>
                <police-use-time :arrivetime="list.arriveTime" :sendtime="list.sendTime"></police-use-time>
              </template>
            </span>
          </div>
        </div>
        <div class="clearfix">
          <div class="list-btn-short list-btn-short-default js-href" data-link="/views/detail?policeName={{ list.policeName }}&id={{ list._id }}">
            查看详情
          </div>
          <div class="hidden-info-container">
            <div class="js-link-police-name">{{ list.policeName }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jquery声音插件 -->
<!-- <script src="/static/javascript/lib/jquery-play-sound.js"></script> -->
<script type="text/javascript">
  function getUnfinishLists (){
/*    function playSound(){
      $.playSound('')
    }*/
    $.post(online+'getUnfinishLists',(data)=>{


      vm.lists=data.lists
    })
  }

  var vm=new Vue({
    el:'#app',
    data:{
      //lists:[{confirmTime:1483630408711,policeName:'minjing2'},{confirmTime:1483630200711,policeName:'minjing2'}],
      lists:[],
      realNames:global_realNames,
      increaseNumber:0//触发computed内方法的钩子
    }
  })

  var timeCount=setInterval(function(){
    vm.increaseNumber++
  },1000)
  global_polling(getUnfinishLists)

  $('.main-container').on('click','.js-href',function(){
    var index=$(this).parents('.js-list-container').index(),
        policeName=$('.js-link-police-name').eq(index).html(),
        link=$(this).data('link')

    //window.location.href=link+policeName
    window.location.href=link
  })
</script>

<%- include ./public/components/rights %>
<%- include ./public/footer %>
