/* 重置bootstrap默认样式 */
@import url("../public/reset/common.css");
@import url("../public/reset/pc.css");
@import url("../public/reset/mobile.css");

/*
 *针对某平台的专用样式自定义样式
*/
@import url("../public/mod/pc.css");

/*
 *全站通用样式
*/
@import url("../public/mod/global.css");

/*
 *通用自定义样式
*/
/* 按钮样式 */
@import url("../public/mod/btn.css");
/* 订单样式 */
@import url("../public/mod/list.css");
/* 颜色相关样式 */
@import url("../public/mod/color.css");

/* 案件详情页样式 */
@import url("../private/mod/detail.css");
/* 私聊页样式 */
@import url("../private/mod/chat.css");

body{
  /*background-color: #efefef;*/
  background:url('/static/images/main_bg.jpg') fixed;
  background-size: cover;
}

.main-container{
  /*background: #fff;*/
  min-height: 680px;
  padding:0px 30px 20px;
}

.g-header-container{
  text-align: center;
  font-weight: bold;
  padding:20px 20px;
  background: rgba(255,255,255,0.8);
  margin-top:20px;
  margin-bottom: 20px;
  border-radius: 6px;
  margin-left: 15px;
  margin-right: 15px;
}
