/* 重置bootstrap默认样式 */
@import url("../public/reset/common.css");
@import url("../public/reset/pc.css");
@import url("../public/reset/mobile.css");

/*
 *针对某平台的专用样式自定义样式
*/
@import url("../public/mod/pc.css");

/*
 *通用自定义样式
*/
/* 按钮样式 */
@import url("../public/mod/btn.css");
/* 订单样式 */
@import url("../public/mod/list.css");
/* 颜色相关样式 */
@import url("../public/mod/color.css");

body{
  background-color: #efefef;
}

.main-container{
  background: #fff;
  min-height: 680px;
  padding:0px 30px;
}

.copy-right{
  color:#666;
  margin-top: 20px;
  height:60px;
  text-align: center;
}
