/* 订单样式 */

.list-container{
  padding:20px 20px;
  /*background: rgba(255,255,255,0.8);*/
  margin-top:20px;
  margin-bottom: 20px;
  border-radius: 6px;
  /*border-bottom: 1px #ccc solid;*/
}

.list-type-normal{
  background: rgba(255,255,255,0.8);
}

.list-type-emergency{
  background: rgb(242,222,222);
}

.list-title{
  font-size: 18px;
  width:90px;
  height:30px;
  float:left;
  color:#364fa2;
}

.list-number{
  height:20px;
  font-size: 12px;
  float:left;
  margin-left: 10px;
  padding-top: 5px;
}

.list-info-row{
  margin-top: 10px;
}

.list-info-row:after{
  content: ".";
  clear: both;
  display: block;
  height:0;
  visibility: hidden;
}

.list-first-info{
  width:170px;
  float:left;
}

.list-second-info{

}

.list-case-info{
  max-height:60px;
  margin-top: 10px;
  overflow: auto;
}

.list-case-detail-info{
  margin-top: 10px;
}

.list-brn-container{

}

.list-case-map{
  margin-top: 15px;
  height:220px;
  background: #ccc;
}

.list-case-police-choice{
  margin-top: 20px;
}

.list-police-info-container > .clearfix > div{
  float:right;
}

.list-status{
  margin-top: 10px;
  font-size:16px;
}

.list-police-info-first,.list-police-info{
  font-size: 12px;
}

.list-police-info-first{
  margin-top: 10px;
}

.list-police-info{
  margin-top:5px;
}

.list-police-detail{
  margin-top: 10px;
}

.list-police-kpi{
  margin-top: 10px;
}

.case-number{
  font-size: 24px;
  font-weight: bold;
  color:#1a1a1a;
  height: 30px;
  float: left;
  line-height: 28px;
}

.total-count{
  font-size: 16px;
  color:#e93e10;
  line-height: 31px;
  margin-left: 17px;
  float: left;
}

.star-left{
  line-height: 30px;
}

.case-star-container{
  margin-top: 10px;
}

.case-star-row{
  height:30px;
}

.star-container{
  margin-left: 5px;
}

.hidden-info-container{/* 信息隐藏域 */
  display: none;
}

.case-info-container{
  margin-top: 15px;
}

.star-main-container{
  float: right;
}

@media(max-width:767px){
  .star-main-container{
    float: left;
  }
}

.list-chat-container{
  float:left;
  margin-left: 25px;
  margin-top: -2.5px;
}

.list-info-container{
  margin-top: 15px;
}
